<h1 egHighlight>Todos</h1>

<button [routerLink]="['create']" mat-button>Add</button>
<eg-button>
  <span class="icon">✔️</span>
  <span class="text">Test</span>
</eg-button>

@if (todos$ | async; as todos) {
  @for (item of todos; track item.id) {
    <eg-todo-item [item]="item"></eg-todo-item>
  }
}
<input [(ngModel)]="test" />
{{ test }}
{{ 10 | multiplication }}
{{ multiply(10, 2) }}

<h2>Section with really heavy component</h2>
@defer (on timer(5s)) {
  <eg-huge-component></eg-huge-component>
} @placeholder (minimum 1s) {
  <div>Here will be huge component</div>
}
